<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de pessoas</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	<style type="text/css">
		table.striped>tbody>tr:nth-child(odd) {
			background-color: rgba(38, 166, 154, 0.5);
		}
		
		form input[type=submit] {
			color: white;
		}
	</style>
</head>



<body>
	<h3>Spring + Thymeleaf + JPA + HTML 5 + Materialize</h3>
	<h5>Cadastro de pessoas</h5>
	
	<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro de pessoas</a>
	<div th:each="pessoa : ${pessoaobj}">
		<div class="row">
			<p>Id: <span th:text="${pessoa.id}"></span></p>
			<p>Nome: <span th:text="${pessoa.nome}"></span></p>
			<p>Sobrenome: <span th:text="${pessoa.sobrenome}"></span></p>
			<p>Idade <span th:text="${pessoa.idade}"></span></p>
		</div>
	</div>
	
	<h5>Telefones</h5>
	
	<br/>
		<div th:each = "mensagem : ${mensagensDeErro}" >
			<span th:text = "${mensagem}"></span>
		</div>
	<br />
	
	<div class="row">
		<form th:action="@{/salvarTelefone/{idpessoa}(idpessoa=${pessoaobj.id})}" 
		method="post" class="col s12" onsubmit="return validarCampos() ? true : false">
			<div class="row">
				<div class="input-field col s6">
					<label class="active" for="numero">Número:</label>
					<input id="numero" name="numero" class="validate">
				</div>
				
				<div class="input-field col s6">
					<label class="active" for="tipo">Tipo:</label>
					<input id="tipo" name="tipo" class="validate">
				</div>
			
				<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
			</div>
		</form>
	</div>
	
	<table class="striped">
		<tr th:each="telefone : ${telefones}">
			<td th:text="${telefone.numero}" />
			<td th:text="${telefone.tipo}" />
			<td><a th:href="@{/removerTelefone/{idtelefone}(idtelefone=${telefone.id})}">Excluir</a></td>
		</tr>
	</table>
	
	<script type="text/javascript">
		// Funcao para validacao de campos do formulario (A aplicacao tera validacao no front end via javascript
		// e no back end via javax.validation e validacao manual internamente na controller)
	
		function validarCampos() {
			
			let numero = document.getElementById('numero').value;
			let tipo   = document.getElementById('tipo').value;
			
			if(numero === '') {
				alert('O numero deve ser informado');
				return false;
			}else if(tipo === '') {
				alert('O tipo deve ser informado');
				return false;
			}
			
			return true;
		}
	</script>
</body>
</html>